
/*Estilos del toolbar*/
/*Estilo de los botones del toolbar*/
body{
    background: url(img/background.jpg) no-repeat center center fixed;
    background-size: cover;
  


}


.btn_toolbar{
	font-size: 60px !important;
	color:  #FFF;
}

/*Estilo del div toolbar*/
.toolbar{
	background-color: #0a0a0a;
	padding: 20px;
}

/*Listado de usuarios*/
.btn_edit{
	color: #E89410;
	font-size: 20px !important;
}

.btn_delete{
	color: #FD4F3D;
	font-size: 20px !important;
}

/*Estilos nav-bar*/
.nav-bar{
	background-color: #32383e !important;
}

.list-items{
	color: #c8c8c8 !important;
}




