
/*Estilos del toolbar*/
/*Estilo de los botones del toolbar*/
body{
    background: url(img/background.jpg) no-repeat center center fixed;
    background-size: cover;
  


}


.btn_toolbar{
	font-size: 45px !important;
	color: #FFF;
}

/*Estilo del div toolbar*/
.toolbar{
	background-color: #c4c4c4;
	padding: 20px;
}

/*Listado de usuarios*/
.btn_edit{
	color: #E89410;
	font-size: 20px !important;
}

.btn_delete{
	color: #FD4F3D;
	font-size: 20px !important;
}

/*Estilos nav-bar*/
.nav-bar{
	background-color: #32383e !important;
}

.list-items{
	color: #c8c8c8 !important;
}



footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 78%;
  height: 150px;
  color: white;
  
}


